# Mainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
PONDER_RPC_URL_1328=

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=

RESEND_API_KEY=
MONGODB_URL=
OPENAI_API_KEY=

USDT_ADDRESS=
BONDING_CURVE_ADDRESS=
ADMIN_PRIVATE_KEY=

# WEB_APP_URL=https://sei.avaethernity.top

WEB_APP_URL=